@mixin colors {
  --c-bg-app: #f4f8fb;
  --c-bg-surface: #ffffff;

  --c-text-primary: #374151;
  --c-text-secondary: #666666;
  --c-text-muted: #94a3b8;

  --c-border: #dce6ee;
  --c-focus: #3b82f6;

  --c-primary: #2563eb;
  --c-primary-hover: #1d4ed8;
  --c-secondary: #eef2ff;
  --c-secondary-hover: #e0e7ff;

  --c-success: #16a34a;
  --c-warning: #f59e0b;
  --c-danger: #ef4444;
}
